Repository aiidateam/aiida-pseudo, pull requests merged in 2021-04, with the labels that each got.

#55 CLI: add the `aiida-pseudo family cutoffs set` command
  aiida_pseudo/cli/__init__.py
  aiida_pseudo/cli/family.py
  aiida_pseudo/cli/params/arguments.py
  aiida_pseudo/cli/params/options.py
  aiida_pseudo/cli/show.py
  tests/cli/test_family.py
Labels: pr/blocked

#67 CLI: Add `units` option to `aiida-pseudo family cutoffs set`
  aiida_pseudo/cli/family.py
  aiida_pseudo/cli/params/options.py
  tests/cli/test_family.py
Labels: priority/important, topic/cli, type/enhancement

#75 `RecommendedCutoffMixin`: Add support for `aiida-pseudo>=0.4.0` families
  aiida_pseudo/groups/mixins/cutoffs.py
Labels: priority/nice to have, topic/cutoffs, type/enhancement
